.container {
 overflow-x: hidden;
}
.header {
  width: 100%;
  display: flex;
  justify-content: space-around;
}
main {
  text-align: center;
}
.content {
  width: 100%;
  height: 100vh;
}
.grid-content {
  display: grid;
  justify-content: space-around;
  grid-template-columns: 400px 400px 400px;
  gap: 20px;
}
.grid-content img {
  width: 100%;
  height: 400px;
}
.btn-cart {
  padding: 5px 20px;
  border: 2px solid black;
  border-radius: 20px;
  cursor: pointer;
}
.cart {
  width: 400px;
  margin: 10px auto;
  display: flex;
  justify-content: center;
  background-color: #cccc;
  padding: 10px;
  border-radius: 10px;
  color: #1c9eda;
}
.image-cart {
  width: 200px;
}
.image-cart img {
  width: 100%;
}
.input-cart {
  text-align: center;
  width: 30px;
  padding: 5px;
}

@media only screen and (min-width: 700px) {
  .grid-content {
    display: grid;
    justify-content: space-around;
    grid-template-columns: 300px 300px 300px;
    gap: 20px;
  }
  .grid-content img {
    width: 100%;
    object-fit: contain;
  }
}
@media only screen and (max-width: 554px) {
  .grid-content {
    display: grid;
    justify-content: space-around;
    grid-template-columns: 150px 150px 150px;
    gap: 10px;
  }
  .btn-cart {
    width: 100px;
    border: 2px solid black;
    border-radius: 20px;
    cursor: pointer;
  }
  .grid-content img {
    width: 100%;
    height: 150px;
    object-fit: contain;
  }
  p {
    height: 40px;
    line-height: 20px;
    margin: 20px 0;
  }
}